{% extends "main.html" %}

{% block content %}
    <h1 class="text-center">მთავარი გვერდი</h1>
    <p class="text-center">აირჩიეთ სასურველი მოქმედება ნავიგაციის მენიუდან. ან ხელით ჩაწერეთ შემდეგი მისამართები:</p>
<ul>
    <li><code>/</code> - მთავარ გვერდზე მოსახვედრად</li>
    <li><code>/multiply/1/2/3/4</code> - რიცხვების გასამრავლებლად</li>
    <li><code>/json</code> - JSON გამოსატანად (დაიბეჭდება გვერდზე pre ელემენტში)</li>
    <li><code>/name/შენი_სახელი</code> - მისალმებისთვის</li>
    <li><code>/ნებისმიერი_სისულელე</code> - 404 შეცდომის გვერდის გამოსატანად</li>
</ul>
{% endblock %}